/* My Custom CSS */

body {
    background: #d59b67;
    font-size: 20px;
    margin: auto;
    width: auto;
    height: 1000px;
}

.container-fluid {
    background: #d59b67;
    margin: auto;
    width: auto;
    height: auto;
}

.jumbotron {
    margin: auto;
    background-color: #d59b67;
    line-height: 1;
    height: 150px;
    position: top;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    padding: 2em 2em 4em;
    height: auto;
    width: 100%;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    color: #fff;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 36px;
    color: #fff;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    color: #008E00;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: #fff;
}

p2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    background: #d59b67;
    width: 100%;
    height: 100%;
    padding: 2em 2em 4em;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron text-center {
    margin: 100%;
    background: #23221D;
    line-height: 1;
    height: 25px;   
    display: flex;

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: #008E00;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
    align-items: center;
    height: 25px;
}


ul {list-style-type: none;}
body {font-family: Anton, sans-serif;}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Anton, sans-serif;}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Anton, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #008e00;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #d59b67;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #fff;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #008e00;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #fff;
}

.days li .active {
  padding: 5px;
  background: #d59b67;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

.navbar  {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}


.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #008E00;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.image {
    width: 100%;
    align-content: center;
}
    
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #008E00;
  justify-content: space-between;
  overflow: auto;
}
ul li {
  position: relative;
  margin: auto;
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-size: 24px;
}
ul li a{
text-decoration: none; 
cursor: pointer;
border-radius: 15px;
color: #fff;
}
ul li a:hover {
background-color: #fff;
text-decoration: none; 
cursor: pointer;
border-radius: 15px;
color: #008e00;
padding: 0px 25px 0px 25px;
}

.button {
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #008E00;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: #d59b67;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #008e00;
  text-align: center;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
    background: #d59b67;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link {
background: #008e00;
}

.navbar-nav {
    background: #008e00;
}

.ftco-section {
  padding: 7em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #fff; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.form-control {
  height: 44px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none; }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3) !important; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3) !important; }
  .form-control:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(0, 0, 0, 0.3) !important; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3) !important; }
  .form-control:focus, .form-control:active {
    border-color: #008e00 !important; }

textarea.form-control {
  height: inherit !important; }

.wrapper {
  width: 100%; }

.contact-wrap {
  background: #d59b67; }

.dbox {
  width: 100%;
  margin-bottom: 25px;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .dbox {
      margin-bottom: 0;
      padding: 0; } }
  .dbox p {
    margin-bottom: 0; }
    .dbox p span {
      font-weight: 500;
      color: #000; }
    .dbox p a {
      color: #008e00; }
  .dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #008e00;
    margin: 0 auto;
    margin-bottom: 20px; }
    .dbox .icon span {
      font-size: 20px;
      color: #fff; }
  .dbox .text {
    width: 100%; }

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .btn:hover, .btn:active, .btn:focus {
    outline: none !important;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important; }
  .btn.btn-primary {
    background: #008e00 !important;
    border-color: #008e00 !important;
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      border-color: #008e00 !important;
      background: #fff !important;
        color: #008e00;
}

.contactForm .label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600; }

.contactForm .form-control {
  border: none; }

#map {
  width: 100%; }
  @media (max-width: 767.98px) {
    #map {
      height: 300px; } }

#contactForm .error {
  color: red;
  font-size: 12px; }

#contactForm .form-control {
  font-size: 16px; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: red; }

#form-message-success {
  color: #008e00;
  font-size: 18px;
  font-weight: 500; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: 500;
  color: #008e00; }